.payment{
    display: flex;
    background-color: rgb(182, 255, 182);
    height: 650px;
    max-width: 850px;
    margin-left: 20px;
}

.imgfile img{
    height: 650px;
    width: 630px;
}

.paymentfrom{
    background-color: white;
    position: absolute;
    right: 0;
    height: 650px;
    width: 850px;
    text-align: center;
    margin-left: -50px;
    margin-right: 20px;
}

.paymentMethods{
    max-width: 200px;
    margin-left: 200px;
    margin-top: 30px;
}

.paymentMethods div {
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 25px;
  display: flex;
  margin-top: 30px;
}

.paymentMethods img{
    
    width: 20px;
}

.cen{
    margin-left: -10px;
}

.menuname{
    margin-top: -60px;
    margin-left: 50px;
}

.cen img{
    margin-left: 200px;
    margin-top: 10px;
    padding: 20px;
    height: 100px;
}

.manu{
    margin-top: -25px;
    margin-left: 580px;
}

.prices {
    margin-left: 500px;
    margin-top: -25px;
  }

.amount1{
    margin-left: 60px;
}

.userIds{
    margin-left: 190px;
}

.usernames{
    margin-left: 550px;
    margin-top: -20px;
}

.pay{
    margin-left: 250px;
    margin-top: 50px;
}

.Address{
    margin-right: 60px;
}

.button{
    margin-left: 100px;
    margin-top: 50px;
}