.user-home-container{
    max-width: 1400px;
    display: flex;
    gap: 0.1em;
    margin-bottom: 100px;
    flex-wrap: wrap;
    margin: auto;
}

.product-item img{
    height: 300px;
    width: 280px;
    border-radius: 5px;
}
.product-item hr{
    height: 6px;
    border-radius: 10px;
    background: 252525;
}


.product-item{
    margin: 20px;
    border: solid rgb(0, 0, 0) 1px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    height: 440px;
}

.product-item:hover {
    transform: translateY(-5px);
}

