.boxs{
    width: 650px;
    margin: auto;
    text-align: center;
    border: solid #000000 1px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.cen{
    border-radius: 20px;
}
.boxs img {
    max-width: 500px;
    padding: 70px;
    display: block;
    margin: 0 auto;
    max-width: 90%;
    border-radius: 20px; 
}


.boxs hr {
    background-color: rgb(255, 7, 7);
}