.product-detail-container{
    display: flex;
    gap: 2em;
    max-width: 1400px;
    margin-top: 40px;
}

.boxs{
    margin-left: 120px;
    max-width: 800px;
    margin-top: 20px;
   font-size: 20px;
}
.cen{
    border-radius: 20px;
}

.imgs img{
    margin-left: 50px;
    height: 540px;
}
.boxs hr {
    background-color: rgb(255, 7, 7);
}